<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/header.styles.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/cssreset.styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/navbar.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/about.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/portfolio.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/modal.styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/contact.styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body></body>
</html>
