<!-- modal -->

<div class="modal" id="modal5">
  <div class="container">
    <div class="mySlides mySlides5">
      <div class="numbertext">1 / 3</div>
      <img src="/assets/Screenshot 2020-11-01 162625.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">2 / 3</div>
      <img src="/assets/Screenshot 2020-11-01 162359.png" />
    </div>
    <div class="mySlides mySlides5">
      <div class="numbertext">3 / 3</div>
      <img src="/assets/Screenshot 2020-11-01 162444.png" />
    </div>
    
    <a class="prev" onclick="plusSlides(-1, 5)">❮</a>
    <a class="next" onclick="plusSlides(1, 5)">❯</a>
  </div>
  <div class="modal-header">
    <div class="modal-header__title">E-Book On C</div>
    <div class="modal-header__tag">A Learning application</div>
  </div>
  <div class="modal-header__details">
    This is a mini project which was assigned to me in the StepIn program assignment. this project is for those Tech newbies who wants to learn C program. They can use this application to get contents on the topics of C Language and they can also try and run the sample codes given in the platform.s 
  </div>
  <div class="footer">
    <div>
      <a
        href="https://github.com/debasish2110/LTTS-C-MiniProject.git"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Github</a
      >
      <!-- <a
        href="https://www.linkedin.com/posts/rohitmalik137_instagram-project-activity-6739955608000237568-ABdW"
        target="_blank"
        class="visit-button"
        >&#10543; &nbsp; Demo</a
      > -->
    </div>
    <button data-close-button class="close-button">&times;</button>
  </div>
</div>
<div id="overlay"></div>
