<!-- About -->
<div id="about">
  <h1 data-aos="fade-right" data-aos-duration="1000" class="about__heading">
    About
  </h1>
  <hr
    data-aos="fade-left"
    data-aos-duration="1000"
    class="about__heading__underline"
  />

  <div class="about__content">
    <!-- left container -->
    <div
      data-aos="fade-right"
      data-aos-duration="1000"
      class="about__content-left"
    >
      <div class="about__content-left-avatar">
        <!-- div containing my avatar -->
      </div>
      <h2>Know Me</h2>
      <p>
        I am a 22 years old developer, currently working as a part of Stepin program in LnT Technology Services.
        <Br>I love playing Apex Legends and Valorant.
      </p>
    </div>

    <!-- right container -->
    <div
      data-aos="fade-left"
      data-aos-duration="1000"
      class="about__content-right"
    >
      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">Core Java</div>
        </div>
        <span>85%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">Python 3</div>
        </div>
        <span>85%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 85%">
          <div class="progressBar__tag">MySql</div>
        </div>
        <span>85%</span>
      </div>
      
      <div class="skills">
        <div class="progressBar" style="width: 80%">
          <div class="progressBar__tag">ML & DL</div>
        </div>
        <span>80%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 80%">
          <div class="progressBar__tag">VScode</div>
        </div>
        <span>80%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 70%">
          <div class="progressBar__tag">PyCharm</div>
        </div>
        <span>70%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 65%">
          <div class="progressBar__tag">Git & Github</div>
        </div>
        <span>65%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 75%">
          <div class="progressBar__tag">HTML,CSS & JS</div>
        </div>
        <span>75%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 65%">
          <div class="progressBar__tag">TensorFlow</div>
        </div>
        <span>65%</span>
      </div>
      
      <div class="skills">
        <div class="progressBar" style="width: 55%">
          <div class="progressBar__tag">NLP</div>
        </div>
        <span>55%</span>
      </div>

      <div class="skills">
        <div class="progressBar" style="width: 65%">
          <div class="progressBar__tag">Data Structures</div>
        </div>
        <span>65%</span>
      </div>
    </div>
  </div>
</div>
