<!-- Contact Us -->
<div id="contact">
  <h1
    data-aos="fade-right"
    data-aos-duration="1000"
    style="color: white"
    class="about__heading"
  >
    Contact Me
  </h1>
  <hr
    data-aos="fade-left"
    data-aos-duration="1000"
    style="background-color: white"
    class="about__heading__underline"
  />
  <h4 style="margin: 20px; color: rgb(6, 158, 158)">
    Have a question or want to work together?
  </h4>
  <!-- contact form -->
  <form action="sendMail" method="POST" id="form">
    <input
      data-aos="flip-left"
      data-aos-duration="1000"
      type="text"
      class="input"
      name="uname"
      placeholder="Name"
    />
    <input
      data-aos="flip-right"
      data-aos-duration="1000"
      type="email"
      class="input"
      name="email"
      placeholder="Email"
    />
    <textarea
      data-aos="flip-left"
      data-aos-duration="1000"
      name="message"
      rows="5"
      placeholder="Your Message"
    ></textarea>
    <input type="submit" class="btn submit-btn" name="submit" value="Send" />
  </form>
  <div class="contact__footer">
    <div class="footer-icons">
      <!-- linkedin -->
      <a
        href="https://www.linkedin.com/in/debashish98/"
        target="_blank"
        class="footer-icon-container"
        id="linkedin"
      >
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
      </a>

      <!-- github -->
      <a
        href="https://github.com/debasish2110/"
        target="_blank"
        class="footer-icon-container"
        id="github"
      >
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
      </a>

      <!-- instagram -->
      <a
        href="https://www.instagram.com/_da_wanderlust_/"
        target="_blank"
        class="footer-icon-container"
        id="instagram"
      >
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </a>

      <!-- facebook -->
      <a
        href="https://www.facebook.com/debashish.dash.948"
        target="_blank"
        class="footer-icon-container"
        id="facebook"
      >
        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <label
      >Debashish Dash
      <span style="color: palevioletred"
        ><i class="fa fa-copyright" aria-hidden="true"></i> 2021</span
      ></label
    >
  </div>
</div>
