<!-- Header -->
<header class="header" id="top">
  <div id="particles-js">
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main"
          >Hello, I'm <span class="name">Debashish Dash</span></span
        >
        <span class="heading-primary-sub">I'm a Learner..!!!</span>
      </h1>
      <div>
        <a 
          href="https://drive.google.com/file/d/1OtUfjfdhOZ55EBjVEVCZlOMXPtzJiOs7/view?usp=sharing" 
          target="_blank" 
          class="btn"
        >
          View Resume
        </a>
        <a href="#about" class="btn scroll">View my work!</a>
      </div>
    </div>
  </div>
</header>