<!-- Navbar -->
    <ul class="collapse navbar-collapse" id="navbarNav">
        <li class="nav-item active">
          <a class="nav-link scroll" href="#top">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </ul>