#portfolio {
  background-color: rgb(212, 212, 212);
  overflow-x: hidden;
  /* border: 3px solid black; */
}

.projects_container {
  display: grid;
  grid-template-columns: auto auto auto;
  color: black;
  padding: 100px 100px 200px;
  min-width: 450px;
}

.projects_container__project {
  perspective: 60rem;
  margin: 20px;
  height: 30rem;
  -moz-perspective: 60rem;
  position: relative;
}

.project__side {
  background-color: orangered;
  height: 30rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
}

.project__side--front {
  background-color: white;
}

.project__side--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__side--back--1 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.project__side--back--2 {
  background-image: linear-gradient(to right bottom, #76ffe1, #5dff35);
}

.project__side--back--3 {
  background-image: linear-gradient(to right bottom, #ffbf76, #ff4335);
}

.project__side--back--4 {
  background-image: linear-gradient(to right bottom, #b129ff, #fa43e2);
}

.project__side--back--5 {
  background-image: linear-gradient(to right bottom, #ff0606, #ff7070);
}

.projects_container__project:hover .project__side--front {
  transform: rotateY(-180deg);
}

.projects_container__project:hover .project__side--back {
  transform: rotateY(0);
}

.project__picture {
  background-size: cover;
  height: 15rem;
  background-blend-mode: screen;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.project__picture--1 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
    url('../assets/Annotation\ 2020-08-30\ 235324.png');
}

.project__picture--2 {
  background-image: linear-gradient(to right bottom, #76ffe1, #5dff35),
    url('../assets/chat.png');
}

.project__picture--3 {
  background-image: linear-gradient(to right bottom, #ffbf76, #ff4335),
    url('../assets/colorGame.png');
}

.project__picture--4 {
  background-image: linear-gradient(to right bottom, #b129ff, #fa43e2),
    url('../assets/contact.png');
}

.project__picture--5 {
  background-image: linear-gradient(to right bottom, #ff0606, #ff7070),
    url('../assets/Screenshot 2020-11-01 162625.png');
}

.project__heading {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 9rem;
  right: 2rem;
  width: 60%;
}

.project__heading-span {
  padding: 0.5rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.project__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}

.project__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(118, 255, 225, 0.85),
    rgba(93, 255, 53, 0.85)
  );
}

.project__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 191, 118, 0.85),
    rgba(255, 67, 53, 0.85)
  );
}

.project__heading-span--4 {
  background-image: linear-gradient(
    to right bottom,
    rgba(177, 41, 255, 0.85),
    rgba(250, 67, 226, 0.85)
  );
}
.project__heading-span--5 {
  background-image: linear-gradient(to right bottom, #ff0606, #ff7070);
}

.project__details {
  padding: 1rem;
}

.project__details--heading {
  font-size: larger;
  font-weight: 500;
  border: 1px solid rgb(221, 221, 221);
  text-align: center;
}

.project__details ul {
  margin: 0 auto;
  list-style: none;
  width: 80%;
}

.project__details ul li {
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem;
}

.project__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 1130px) {
  .projects_container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 75px 10vw;
  }
}

@media only screen and (max-width: 875px) {
  .projects_container {
    display: grid;
    grid-template-columns: auto;
    padding: 75px 25vw;
  }
}

@media only screen and (max-width: 725px) {
  .projects_container {
    padding: 75px 15vw;
  }
}

@media only screen and (max-width: 450px) {
  .projects_container__project:last-child {
    margin-bottom: 100px;
  }
  .project__side {
    height: 24.5rem;
  }

  .project__heading {
    font-size: 1rem;
    font-weight: 200;
    position: absolute;
    top: 5rem;
    right: 2rem;
    width: 40%;
  }

  .project__picture {
    height: 10rem;
  }

  .project__details--heading {
    font-size: large;
    font-weight: 400;
  }

  .project__details ul li {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem;
  }
  .projects_container__project {
    margin-left: -10px;
    height: 25rem;
    width: 70vw;
  }
}
